# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = Lars Graubner
        email = mail@larsgraubner.de
[credential]
        helper = store
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
        ignorecase = false
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = current
[alias]
        s = status -s
        co = checkout
        cob = checkout -b
        cl = clone
        ci = commit -m
        cm = !git add -A && git commit -m

        poop = stash pop

        pom = push origin master

        undo = reset --soft HEAD~
        amend = commit --amend

        l = log -10 --reverse --pretty=oneline
