[hub]
	protocol = https
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore
	pager = hunk pager
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[difftool]
	tool = hunk
	prompt = false
[difftool "hunk"]
	cmd = hunk difftool \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[help]
	autocorrect = 1
[push]
	default = current
[pull]
	rebase = true
[init]
	defaultBranch = main
