# Easy navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# ls alias
alias lsa="ls -al"

# Print file size
alias fs="stat -f '%z bytes'"

# Recursively delete `.DS_Store` files
alias rmdss="find . -name '*.DS_Store' -type f -ls -delete"

# Quick jump to folders
alias w="cd $WORKSPACE"
alias d="cd ~/Desktop"
alias dl="cd ~/Download"

# Reset DNS cache
alias flush="sudo killall -HUP mDNSResponder"

# Pipe public key to clipboard.
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# Open all merge conflicts or currently changed files in Editor
alias fix="git diff --name-only | uniq | xargs $EDITOR"

# Npm run dev alias
alias dev="npm run dev"

# Fun
alias idk="printf \"¯\_(ツ)_/¯\" | pbcopy && echo \"¯\_(ツ)_/¯ copied to clipboard\""

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Reload shell
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# git
alias gs="git status -s"
alias ga="git add"
alias gac="git add -A && git commit -m"
alias gcm="git commit --message"
alias gcb="git checkout -b"
alias gco="git checkout"
alias gcom="git checkout master"
alias gcod="git checkout develop"
alias gd="git diff"
alias gi="git init"
alias gcl="git clone"
alias gp="git push"
alias gpm="git push origin master"
alias gl="git log -10 --reverse --pretty=oneline"
alias gundo="git reset --soft HEAD~"
alias gam="git commit --amend"
