# Work with homestead from any dir
function homestead() {
    ( cd ~/Homestead && vagrant $* )
}

# Create directory and cd into it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# Open all work related apps
function work() {
    open -a "Google Chrome" https://app.asana.com/0/568732081266236/board
    open -a "Spotify"
    open -a "Stride"

    open -a "PhpStorm" $HOME/code/breathe-api
    code $HOME/code/breathe-app
    open -a "Xcode" $HOME/code/breathe-app/ios

    cd "$HOME/codei/breathe-app"
}

# Get only useful information with dig
function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}

# Open directory
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# Open in editor
function e() {
	if [ $# -eq 0 ]; then
		$EDITOR .;
	else
		$EDITOR "$@";
	fi;
}

# Create a todo file on desktop
function todo() {
  touch ~/Desktop/$*
}

# Update system and tools
function update() {
  if id -Gn ${whoami} | grep -q -w admin;
  then
    # update brew
    brew update;
    brew upgrade;
    brew cleanup;

    # update npm and modules
    npm update -g;
  else
    echo "This command can only be run as admin."
  fi
}
