# Sample gitconfig
#

[hub]
    protocol = https
[user]
    name = Lars Graubner
    email = mail@larsgraubner.de
[credential]
    username = lgraubner
    helper = store
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    editor = vim
    ignorecase = false
    excludesfile = ~/.gitignore
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = current
