# atom files
dotfiles/.atom/.apm
dotfiles/.atom/.node-gyp
dotfiles/.atom/.storage
dotfiles/.atom/compile-cache/
dotfiles/.atom/packages
dotfiles/.atom/storage
dotfiles/.atom/themes
dotfiles/.atom/recovery
dotfiles/.atom/blob-store

# python binaries
*.pyc

# backup folder
backups/*
!backups/.gitkeep
