"*":
  autoprefixer: {}
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  docblockr: {}
  editor:
    invisibles: {}
    showInvisibles: true
  emmet: {}
  linter:
    errorPanelHeight: 176
    showErrorPanel: false
  "linter-eslint":
    useGlobalEslint: true
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  welcome:
    showOnStartup: false
