"*":
  "auto-update-packages": {}
  autoprefixer: {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  docblockr: {}
  editor:
    invisibles: {}
    showInvisibles: true
  emmet: {}
  linter:
    errorPanelHeight: 100
    showErrorPanel: false
  "linter-eslint": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  welcome:
    showOnStartup: false
