"*":
  "auto-update-packages": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.4
    showInvisibles: true
  emmet: {}
  "file-icons":
    coloured: false
  linter:
    errorPanelHeight: 100
    showErrorPanel: false
  "linter-eslint": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
