"*":
  "auto-update-packages": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.4
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "5beacabc-64f0-dd24-4ae3-223127045de3"
  "file-icons":
    coloured: false
  linter:
    errorPanelHeight: 100
    showErrorPanel: false
  "linter-eslint":
    fixOnSave: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
