'.source.js, .source.jsx':
  'React Component':
    'prefix': 'rnc'
    'body': """
import React, { Component } from 'react';

class ${1:Name} extends Component {
  constructor() {
    super();

    this.state = {
      $2
    };
  }

  render() {
    return (
      $3
    );
  }
}

export default ${1:Name};
"""

    'Functional React Component':
        'prefix': 'rnfc'
        'body': """
import React from 'react';

const ${1:Name} = () => (
  $3
);

export default ${1:Name};
"""
